.container {
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
}

div.addthis_toolbox {
  width:210px;
  margin: 0 auto;
}

p {font-size:12px;}

li {font-size:12px;}

h2 {
  font-family: 'Maven Pro', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
[class*="col-lg-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,50,200,.6);
  border: 1px solid rgba(0,50,200,.7);
}